In [62]:
import pandas as pd

In [63]:
DATA_ROUTE = '../data/tarifas_vmodelo.csv'

In [64]:
data = pd.read_csv(DATA_ROUTE, sep=';')

In [65]:
data.head()

,compania,nombre_tarifa,tipo_tarifa,potencia_contratada,precio_€/kWh,precio_llano,precio_punta,precio_valle,permanencia,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,Repsol,Ahorro Plus,fija,3.95,0.119746,0.068219,0.068219,0.068219,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Repsol,Plana de Luz,fija,≤15,NaN,NaN,NaN,NaN,Sí,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Repsol,Mis 10h con Descuento,fija,≤15,0.068219,0.068219,0.068219,0.068219,Sí,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Repsol,2ª Residencia,fija,≤15,0.054521,0.054521,0.054521,0.054521,Sí,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Repsol,Mis 3 Horas Gratis,fija,≤15,0.068219,0.068219,0.068219,0.068219,Sí,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [66]:
for i in range(9, 26):
    columna = f'Unnamed: {i}'
    data.drop(columns=[columna], inplace=True, errors='ignore')

data.head()

,compania,nombre_tarifa,tipo_tarifa,potencia_contratada,precio_€/kWh,precio_llano,precio_punta,precio_valle,permanencia
0,Repsol,Ahorro Plus,fija,3.95,0.119746,0.068219,0.068219,0.068219,No
1,Repsol,Plana de Luz,fija,≤15,NaN,NaN,NaN,NaN,Sí
2,Repsol,Mis 10h con Descuento,fija,≤15,0.068219,0.068219,0.068219,0.068219,Sí
3,Repsol,2ª Residencia,fija,≤15,0.054521,0.054521,0.054521,0.054521,Sí
4,Repsol,Mis 3 Horas Gratis,fija,≤15,0.068219,0.068219,0.068219,0.068219,Sí

In [67]:
# Tenemos 1011 entries pero hay un monton de datos vacios
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1011 entries, 0 to 1010
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   compania             59 non-null     object
 1   nombre_tarifa        59 non-null     object
 2   tipo_tarifa          59 non-null     object
 3   potencia_contratada  59 non-null     object
 4   precio_€/kWh         56 non-null     float64
 5   precio_llano         46 non-null     float64
 6   precio_punta         55 non-null     float64
 7   precio_valle         55 non-null     float64
 8   permanencia          58 non-null     object
dtypes: float64(4), object(5)
memory usage: 71.2+ KB

In [68]:
data[data['compania'].isna() == True].info() # 952 entradas no tenemos el nombre de la compañia por lo tanto no nos sirven de nada

<class 'pandas.core.frame.DataFrame'>
Index: 952 entries, 59 to 1010
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   compania             0 non-null      object
 1   nombre_tarifa        0 non-null      object
 2   tipo_tarifa          0 non-null      object
 3   potencia_contratada  0 non-null      object
 4   precio_€/kWh         0 non-null      float64
 5   precio_llano         0 non-null      float64
 6   precio_punta         0 non-null      float64
 7   precio_valle         0 non-null      float64
 8   permanencia          0 non-null      object
dtypes: float64(4), object(5)
memory usage: 74.4+ KB

In [69]:
# Parece que quedan algunos null que deben ser que la tarifa no tiene informacion de alguna columna
data = data[data['compania'].isna() != True]
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 59 entries, 0 to 58
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   compania             59 non-null     object
 1   nombre_tarifa        59 non-null     object
 2   tipo_tarifa          59 non-null     object
 3   potencia_contratada  59 non-null     object
 4   precio_€/kWh         56 non-null     float64
 5   precio_llano         46 non-null     float64
 6   precio_punta         55 non-null     float64
 7   precio_valle         55 non-null     float64
 8   permanencia          58 non-null     object
dtypes: float64(4), object(5)
memory usage: 4.6+ KB

In [70]:
data[data.isnull().any(axis=1)]

,compania,nombre_tarifa,tipo_tarifa,potencia_contratada,precio_€/kWh,precio_llano,precio_punta,precio_valle,permanencia
1,Repsol,Plana de Luz,fija,≤15,NaN,NaN,NaN,NaN,Sí
13,HolaLuz,La Tarifa Justa,fija,≤15,NaN,NaN,NaN,NaN,No
16,HolaLuz,Tarifa Mercado,fija,≤10,0.122000,0.122,0.122000,0.1220,NaN
26,Pon Preu,Plan Dinámico,fija,≤15,0.009000,NaN,NaN,NaN,No
38,Iberdrola,Plan Elige 8 Horas,variable,≤15,0.241000,NaN,0.241000,0.0967,No
39,Iberdrola,Plan Noche y Día,variable,≤15,0.239000,NaN,0.239000,0.1090,No
40,Iberdrola,Plan Familias,variable,≤15,0.189000,NaN,0.189000,0.1030,No
41,Iberdrola,Plan Verano,variable,≤15,0.219000,NaN,0.219000,0.0990,No
42,Iberdrola,Plan Invierno,variable,≤15,0.225000,NaN,0.225000,0.0960,No
44,Iberdrola,Plan Solar,variable,≤15,0.203200,NaN,0.101600,0.2032,No
46,Iberdrola,Tarifa 3.0TD-Plan Noche,variable,>15,0.197600,NaN,0.197600,0.0688,Sí
47,Iberdrola,Tarifa 3.0TD-Plan Comercio,variable,>15,0.197600,NaN,0.197600,0.0920,Sí
48,Iberdrola,Plan Ahorro Inteligente,variable,≤15,0.168225,NaN,0.168225,0.0999,No
52,Naturgy,Plana Luz,variable,≤15,NaN,NaN,NaN,NaN,No

In [71]:
data = data.dropna()

In [72]:
# Metemos dentro de los intervalos los valores individuales de potencia contratada
print(data['potencia_contratada'].dtypes)

data['potencia_contratada'].unique() # valores a usar: 'Entre 10 y 15', '>15', '<=15', '<=10'

object

array(['3.95', '≤15', '4.47', '≤10', 'Entre 10 y 15', '>15'], dtype=object)

In [73]:
def intervalos(valor):
    try:
        valor = float(valor)
        if valor <= 10:
            return '≤10'
        elif (valor > 10) and (valor < 15):
            return 'Entre 10 y 15'
        elif valor == 15:
            return '≤15'
        else:
            return '>15'

    except:
        return valor

data['potencia_contratada'] = data['potencia_contratada'].apply(lambda x: intervalos(x))

In [74]:
data['potencia_contratada'].unique()

array(['≤10', '≤15', 'Entre 10 y 15', '>15'], dtype=object)

In [75]:
data.to_csv('../data/tarifas_limpias.csv')